/* remover as margens padrão */
*{
    margin: 0;
    padding: 0;
}

#game {
    width: 100vw;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(98, 158, 255);
}

#grass {
    height: 2vw;
    background-color: rgb(36, 159, 36);
    margin-bottom: 50px;
}

/* -_-_-_- PERSONAGEM -_-_-_- */

#character {
    width: 20px;
    height: 50px;
    background-color: rgb(240, 173, 110);
    border: solid 1px black;

    /* definindo o personagem preso ao chão */
    position: relative;
    top: 150px;
    right: -30px
}

@keyframes character {
    0%{top: 150px;}
    45%{top: 80px}
    50%{top: 80px}
    100%{top: 150px}
}

.anime {
    animation: character 500ms infinite;
}

/* -_-_-_- OBSTÁCULO -_-_-_- */

#square {
    width: 20px;
    height: 20px;
    background-color: rgb(199, 15, 27);
    position: relative;
    top: 130px;
    left: 100vw;
    border: solid 1px black;

    animation: square 3s infinite linear;
}

@keyframes square {
    0%{left: 100vw;}
    100%{left: 0vw}
}

/* -_-_-_- OBSTÁCULO 2 -_-_-_- */

#square2 {
    width: 20px;
    height: 20px;
    background-color: rgb(62, 0, 162);
    position: relative;
    top: 109px;
    left: 50vw;
    border: solid 1px black;

    animation: square2 4s infinite linear;
}

@keyframes square2 {
    0%{left: 140vw;}
    100%{left: 0vw}
}

/* -_-_-_- OBSTÁCULO 3 -_-_-_- */

#square3 {
    width: 20px;
    height: 20px;
    background-color: rgb(248, 255, 39);
    position: relative;
    top: 85px;
    left: 0vw;
    border: solid 1px black;

    animation: square3 5s infinite linear;
}

@keyframes square3 {
    0%{left: 180vw;}
    100%{left: 0vw}
}

/* APRESENTAÇÃO */

#apresentation {
    padding-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.aptitle {
    display: flex;
    text-align: center;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 20px 100px 0 100px;
}